<div class="support-container">
    {% if manager is not empty %}
		<p>{{ "Your account manager is"| t('toward-support') }} <strong>{{ manager }}</strong></p>
		<p>{{ "We're in the studio 8:30 - 17:00 Monday to Friday. We aim to get back to you within 24 hours."| t('toward-support') }}</p>
    {% else %}
        <p><strong>{{ "Please add an account manager"| t('toward-support') }}</strong></p>
    {% endif %}

    {% if url is not empty %}
        <a class="btn secondary" href="{{ url }}" title="View Project Management Board" target="_blank">
            {{ "Get support" | t('toward-support')  }}
        </a>
    {% endif %}
</div>
