<div class="support-container">
    <p>{{ "Your account manager"| t('app') }}</p>
    {% if manager is not empty %}
        <p><strong>{{ manager }}</strong></p>
    {% else %}
        <p><strong>{{ "Please add an account manager"| t('app') }}</strong></p>
    {% endif %}

    {% if url is not empty %}
        <a class="btn secondary" href="{{ url }}" title="View Project Management Board" target="_blank">
            {{ "View Project Management Board"| t('app')  }}
        </a>
    {% endif %}
</div>
